<ion-view>
    <ion-nav-title>{{ page_title }}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <div sb-tooltip collection="tooltip.collection" current-item="tooltip.current_item" button-label="tooltip.button_label" on-item-clicked="showTooltip(object)" ng-if="tooltip"></div>
        <button ng-click="right_button.action()" class="button button-clear header-item" ng-if="right_button">
            <span class="back-text"><span class="default-title">{{ right_button.label }}</span></span>
            <i class="icon" ng-class="right_button.icon"></i>
        </button>
    </ion-nav-buttons>

    <div class="bar bar-subheader">
        <div class="item item-input-inset job-search">
            <div class="item-input-wrapper textual">
                <i class="icon ion-ios-search"></i>
                <input type="text" placeholder='{{ "Search..." || translate }}' ng-model="filters.fulltext" />
            </div>

            <div class="item-input-wrapper place">
                <i class="icon ion-ios-location-outline"></i>{{ "Place" || translate }}
            </div>

            <div class="item-input-wrapper more">
                <i class="icon ion-ios-plus-outline"></i>
            </div>
        </div>
    </div>

    <ion-content class="l1 has-subheader" sb-background-image>

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="pullToRefresh()">
        </ion-refresher>

        <div ng-include="template_header"></div>

        <div class="loader" ng-show="is_loading">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <div class="list" ng-show="collection.length">

            <div ng-click="showItem(item)" ng-repeat="item in collection | filter: filterPlaces">
                <div class="item item-custom item-place" ng-class="{ 'item-avatar': item.company_logo && options.show_logo }">
                    <img ng-src="{{ item.company_logo }}" ng-if="item.company_logo && options.show_logo" />
                    <h2>{{ item.title }} <span ng-if="item.contract_type">{{ item.contract_type }}</span></h2>
                    <p class="subtitle" ng-if="item.subtitle">{{ item.subtitle }}</p>
                    <p class="subtitle-company" ng-if="item.company_name || item.location">
                        <span ng-if="item.company_name">{{ item.company_name }}</span>
                        <span ng-if="item.company_name && item.location">, </span>
                        <span ng-if="item.location">{{ item.location }}</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="list" ng-if="!is_loading && !collection.length">
            <div class="item text-center item-custom">
                {{ "No items found" | translate }}
            </div>
        </div>

        <ion-infinite-scroll ng-if="can_load_older_places"
                             on-infinite="loadMore()"
                             immediate-check="false"
                             distance="10%"
                             class="spinner-custom">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>

<style type="text/css">
    .job-search {
        padding: 0px;
        border: 0px;
    }

    .job-search i.icon {
        font-size: 24px;
    }

    .job-search .textual,
    .job-search .place,
    .job-search .more {
        padding: 0px;
        border-radius: 0;
        border: 0px;
        background-color: transparent;
    }
    .job-search .textual {
        width: 100%;
    }
    .job-search .place {
        float: right;
        max-width: 100px;
        font-size: 14px;
    }
    .job-search .place i.icon {
        font-size: 22px;
        margin-right: 6px;
    }
    .job-search .more {
        float: right;
        max-width: 30px;
    }

    .item-place {
        padding: 6px;
    }

    .item-place p.subtitle {
        font-size: 13px;
        opacity: 0.7;
    }

    .item-place p.subtitle-company {
        font-size: 13px;
        opacity: 0.5;
    }
</style>